<div class="container">
  <h2 id="menu-categories-title" class="text-center">{{category?.name}} Menu</h2>
  <div class="text-center">{{category?.special_instructions}}</div>

  <div *ngFor="let meal of meals" class="menu-item-tile col-md-6">
    <div class="row">
      <div class="col-sm-5">
        <div class="menu-item-photo">
          <div>{{meal?.short_name}}</div>
          <img class="img-responsive" width="250" height="150" src="/assets/images/menu/{{category?.short_name}}/{{meal?.short_name}}.jpg" alt="Item">
        </div>
        <div class="menu-item-price">{{meal?.price_small}}<span> {{meal?.small_portion_name}}</span> {{meal?.price_large}} <span>{{meal?.large_portion_name}}</span></div>
      </div>
      <div class="menu-item-description col-sm-7">
        <h3 class="menu-item-title">{{meal?.name}}</h3>
        <p class="menu-item-details">{{meal?.description}}</p>
      </div>
    </div>
    <hr class="visible-xs">
  </div>
</div>



