<footer class="panel-footer">
  <div class="container">
    <div class="row">
      <section id="hours" class="col-sm-4">
        <span>Hours:</span><br>
        Sun-Thurs: 11:15am - 10:00pm<br>
        Fri: 11:15am - 2:30pm<br>
        Saturday Closed
        <hr class="visible-xs">
      </section>
      <section id="address" class="col-sm-4">
        <span>Address:</span><br>
        7105 Reisterstown Road<br>
        Baltimore, MD 21215
        <p>* Delivery area within 3-4 miles, with minimum order of $20 plus $3 charge for all deliveries.</p>
        <hr class="visible-xs">
      </section>
      <section id="testimonials" class="col-sm-4">
        <p>"The best Chinese restaurant I've been to! And that's saying a lot, since I've been to many!"</p>
        <p>"Amazing food! Great service! Couldn't ask for more! I'll be back again and again!"</p>
      </section>
    </div>
    <div class="text-center">&copy; Copyright David Chu's China Bistro 2016</div>
  </div>
</footer>
