<div class="container">
  <h2 id="menu-categories-title" class="text-center">Menu Categories</h2>
  <div class="text-center">
    Substituting white rice with brown rice or fried rice after 3:00pm will be $1.50 for a pint and $2.50 for a quart.
  </div>

  <div *ngFor="let category of categories" class="col-md-3 col-sm-4 col-xs-6 col-xxs-12">
    <a [routerLink]="['/menu/',category.short_name]">
      <div class="category-tile">
        <img width="200" height="200" src="/assets/images/menu/{{category.short_name}}/{{category.short_name}}.jpg" alt="{{category.name}}">
        <span>{{category.name}}</span>
      </div>
    </a>
  </div>
</div>
